# ===== Quartus =====
db/
incremental_db/
output_files/
greybox_tmp/
*.qws                   
*_assignment_defaults.qdf
*.rpt
*.summary
*.smsg
*.done
*.pin
*.jdi
*.sld
*.sof
*.pof
*.qmsg
*.smp_dump.txt
*_nativelink_simulation.rpt
*_description.txt      
hex_decoder.vhd       

# ===== ModelSim / Questa =====
simulation/
*.wlf
transcript
msim_transcript
modelsim.ini
*.vo
*.vho
*.sft
*_modelsim.xrf
rtl_work/

# ===== GHDL (se usar em paralelo) =====
*.cf
*.o
e~*
*.ghw
*.vcd

*.bak
*.bak[0-9]
*.bak[0-9][0-9]
*~
*.swp
*.zip
.DS_Store
Thumbs.db

garbage/
